.listItem {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.text {
	display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;
}

.buttonContainer {
	margin-left: 15px;
}