.main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.list{
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
	margin-bottom: 40px;
}

.textbox {
	font-size: 32px;
	padding: 2px;
	text-align: center;
	margin-right: 4px;
}

.inputContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
	margin-bottom: 25px;
}